extends layout

block content
    h2= title
        .country_wrapper
            ul
                each country in allCountries 
                    li
                        a(href=`/countries/${country}`) #{country}
                            img(src=`/images/countries/${country}.jpg`, alt="country") 
                else 
                    li There are currently no countries