doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        a(href="/")
          img#logo(src="/images/logo.png")
        ul
          li
            a(href="/login") Login
            a(href="/sign-up") Register
    
    .search-nav
        form
          .input_wrapper
            label(for="destination") Destination
            input(type="text" id="destination", name="destination" placeholder="Where to?" required) 
          .input_wrapper
            label(for="duration") Duration (nights)
            input(type="text" id="duration", name="duration" placeholder="Staying for how long?" required) 
          .input_wrapper
            label(for="departure-date") Departure Date
            input(type="date" id="departure-date", name="departureDate" placeholder="When do you want to leave?" required) 
          .input_wrapper
            label(for="number-guests") Number of Guests
            input(type="number" id="number-guests", name="numberGuests" placeholder="How may should be there?" required) 
          .input_wrapper
            select(name="stars")
              option(value="1") Min 1 Star
              option(value="2") Min 2 Star
              option(value="3") Min 3 Star
              option(value="4") Min 4 Star
              option(value="5") Min 5 Star
             
          .input_wrapper
            select(name="sort")
              option(value="1") Price: Low - High
              option(value="-1") Price: High - Low

          .input_wrapper
            button(type="submit") SEARCH!

    img(src="/images/beach.jpg")        
    block content
