@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Noto+Sans&family=Pacifico&family=Sansita:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background: #ffffff;
}

body {
  background: #eeeeee;
  margin: 0 auto;
  max-width: 1500px;
  padding: 0 1em;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4dc2ca;
}

nav ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

nav ul li {
  font-size: 1.2em;
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #2b2828;
}

.search_nav {
  background: #c1e6e9;
  padding: 0.5em;
}

.search_nav form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search_nav form .input_wrapper {
  margin: 0.5em 0;
  text-align: center;
}

.search_nav form .input_wrapper input {
  width: 100%;
  height: 25px;
  padding: 0.5em 0;
  margin-top: 0.3em;
  border: 0;
  text-align: center;
  border-radius: 3px;
}

img {
  width: 100%;
}

select, button {
  height: 36px;
  width: 100%;
  border: none;
}

button {
  background: #1E90FF;
  color: #ffffff;
  border-radius: 3px;
  -webkit-transition: 350ms;
  transition: 350ms;
}

button:hover {
  cursor: pointer;
  background: #f6f6f6;
  color: #333333;
}

.outer_wrapper {
  text-align: center;
  font-size: 1em;
}

.hotel {
  background: #ffffff;
  margin: 0 0 1em 0;
}

.hotel .hotel_info {
  padding: 1em;
}

.hotel .hotel_info a {
  text-decoration: none;
  color: #333;
}

.form_input {
  margin: 1em 0;
}

.form_input input, .form_input textarea {
  width: 70%;
  text-align: left;
}

.form_input label {
  display: inline-block;
  width: 20%;
}

.form_input input, .form_input textarea {
  padding: 0.5em 0;
  margin-top: 0.3em;
  border: 0;
  text-align: center;
  border-radius: 3px;
}

.button_small {
  width: 100px;
  margin: 0.5em;
}

@media screen and (min-width: 760px) {
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  nav .logo_link {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  nav ul {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    text-align: right;
    margin-right: 1em;
  }
}

.search_nav form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.search_nav form .input_wrapper {
  margin: 0;
  padding: 0.5em;
  max-width: 170px;
  text-align: left;
}

.outer_wrapper {
  text-align: left;
}

.hotel_wrapper .hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotel_wrapper .hotel .hotel_img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 1em;
}

.hotel_wrapper .hotel .hotel_info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0;
}

.country_wrapper ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  text-align: center;
}

.country_wrapper ul li {
  list-style-type: none;
  padding: 1em;
}

.country_wrapper ul li a {
  text-decoration: none;
  color: #333;
  font-size: 24px;
}
/*# sourceMappingURL=style.css.map */